body {

}

a {
  text-decoration: none;
  color: white;
}

.top {
  background-color: #1F2937;
  padding: 24px 192px;
  display: flex;
  flex-direction: column;
}

.upper-header,
.lower-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.header-logo {
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 24px;
}

.this-website {
  width: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  padding: 0;
}

button, .bottom-box {
  background-color: #3882F6;
  border-radius: 6px;
  padding: 6px;
}

.middle, .middle-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px 288px;
  margin-bottom: 48px;
  gap: 12px;
}

.illustrations {
  display: flex;
  gap: 20px;
}

h2 {
  font-size: 36px;
  font-weight:900px;
}

.middle-two {
  background-color: #E5E7EB;
  padding-bottom: 24px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;  
}

.quote {
  font-size: 36px;
  font-weight: bo;
  font-style: italic;
  margin-bottom: 0;
}

.credit {
  align-self: flex-end;
  font-weight: bolder;
  margin-top: 12px;
}

.bottom-box {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  align-items: center;
}

.bottom {
  padding: 24px 192px;
}